body {
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  line-height: 1.6; 
  color: #333;
  background-color: #f0f0f0; 
  margin: 0; 
  padding: 0;
}


.event-card {

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: stretch;
  }

  &__name {
    display: flex;
    align-items: center;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
  }

  &__location {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 8px;
    }
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  &__item {
    width: 100%;
    border: 1px solid grey;
  }

  &__info {
    padding: 10px;
    position: relative;

    .event-card__plus-icon {
      position: absolute;
      bottom: 10px;
      right: 10px;
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
  }

  &__image {
    width: 100%;
  }

  &__time {
    position: relative;
    display: inline-block;


    div::before {
      content: "";
      position: absolute;
      left: -4px; /* Adjust the position as needed */
      top: 0;
      width: 1px;
      height: 100%; /* Adjust the height as needed */
      background-color: #000; /* Line color */
    }
  }
}